
.page{
max-width: var(--max-width-blog);
}

.page section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title, .section__title{
  text-transform: capitalize;
}
.section__title {
  margin-bottom:  0.75em;
}
.links__container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
}

.tech__list{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.project-logo{
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
     margin : 0.5em 0;
  border:1px solid var(--border-color);
}
.screenshots{
max-width: 100%;
  width: auto;
  height: auto;
  margin : 0.5em 0;
  border:1px solid var(--border-color);
   background-color: var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;

}

