
.page{
max-width: var(--max-width-blog);
}
.heading{
  border-bottom:  1px solid var(--border-color);
}
.page section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title{
  color: var(--main-color)
}

.title , .tech-category{
  text-transform: capitalize;
}
.tech-category{
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
.techs  ul , .links  ul{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.techs  ul li  {
 background-color: var(--border-color);
 border-radius: var(--border-radius);
 padding: 0 0.5rem;  font-size: 0.8em;
}

.features ul {
  list-style: unset;
  display: flex;
  flex-direction: column;
 gap: 0.5em;
}

.features li {
display: flex;
gap: 0.5em;
align-items: flex-start;
}
.features svg {
margin-top: 0.2em;
}
.project-logo{
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
     margin : 0.5em 0;
  border:1px solid var(--border-color);
}
.screenshots{
max-width: 100%;
  width: auto;
  height: auto;
  margin : 0.5em 0;
  border:1px solid var(--border-color);
   background-color: var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;

}

