.badge {
  padding: 0.15rem 0.5rem;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
  width: fit-content;
  height: fit-content;
  font-weight: 400;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.badge__remove-button {
 position: relative;
 z-index: 2;
 border-radius: 100%;
 border: none;
 color: inherit;
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: transparent;
}
.badge__remove-button:focus-visible{
  outline: 1px solid;
}
.badge__remove-svg{
  transform: scale(1.25);
}
.badge--solid {
  color: var(--foreground);
  background-color: var(--text-color);
}
.badge--outline {
  color: var(--text-color);
  border: 1px solid var(--text-color);
}
.badge--subtle {
  color: var(--text-color);
  background-color: var(--contrast-color-dark);
}

.badge--sm{
  font-size: 0.85em;
}
.badge--md{
  font-size: 1em;
}
.badge--lg {
  font-size: 1.15em;
}
.badge__text{
  display: inline-block;
  font-size: inherit;
}
.badge--transform-capitalize .badge__text{
  text-transform: capitalize;
}
.badge--transform-uppercase .badge__text, 
.badge--transform-title .badge__text::first-letter {
  text-transform: uppercase;
}
.badge--transform-lowercase .badge__text{ 
  text-transform: lowercase;
}
.badge--transform-none .badge__text{
  text-transform: none;
}
.badge__count{
    background: var(--alert-color);
    color: #fff;
    border-radius: inherit;
    padding: 0 0.4em;
    position: absolute;
    bottom: 100%;
    left: -0.5em;
    font-size: 0.85em;
    line-height: 1.25em;
    margin-bottom: -0.5em;
}