.menu {
  position: absolute;
  width: 100%;
  z-index: 99;
  opacity: 0;
  right: 0;
  top: calc(64px - 1.1em);
  max-height: calc(100vh - 64px);
  overflow-y: auto;
  display: none;
  padding: 1em;
  background: var(--foreground);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transition-property: opacity;
  transition-duration: var(--transition-easing-ease-in-out);
}

.menu[data-open='true'] {
  display: flex;
  flex-direction: column;
  opacity: 1;
}
.menu::after {
  content: ' ';
  position: absolute;
  top: -0.4em;
  right: 0.75em;
  width: 0.6em;
  height: 0.6em;
  background: inherit;
  transform: rotate(45deg);
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.menu-link {
  text-transform: capitalize;
  font-weight: 400;
  outline: none;
  padding: 0.75em 1.5em;
  border-radius: var(--border-radius);
}

.menu-link:hover,
.menu-link:focus-visible {
  color: var(--text-color-secondary);
  background-color: var(--contrast-color);
}
.menu-link:focus-visible {
  text-decoration: underline;
}
