.menu {
  position: absolute;
  opacity:0;
  right: 0;
  top:calc(64px - 1.1em );
  display: none;
  flex-wrap: wrap;
  gap:2rem;
  padding:1em;
  background: var(--foreground);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  transition-property: opacity;
  transition-duration: var(--transition-easing-ease-in-out);
}
.menu[data-open="true"] {
  display:flex ;
  flex-direction: column;
  opacity:1;
}
.menu::after{
  content: " ";
  position: absolute;
  top:-0.35em;
  right:0.5em;
  width:0.6em;
  height: 0.6em;
  background: inherit;
  transform: rotate(45deg);
  border-top: 1px solid var(--border-color) ;
  border-left: 1px solid  var(--border-color);
}
.menu-link {
  text-transform: capitalize;
  font-weight: 600;
 outline: none;

}

.menu-link svg {
width: 1rem;
height: auto;
}
