.page{
  display:flex;
  flex-direction:column;
  gap:1em;
  max-width: var(--max-width-blog);
  margin: 0 auto;
}
.section-title svg{
  width: 1.5em;
}
.section-title{
  display: flex;
  align-items: center;
    gap: 0.5em;
}
.summary-section h1{
  text-align: start;
}

.summary-text{
  margin: 1em 0 ;
  
}

.list{
  margin: 0.5em 1.5em;
  list-style: disc;
}
.timeline-item{
position: relative;
padding: 0.25em 2em;
}

.timeline-item::before {
    width: 0.5em;
    height: 0.5em;
    content: " ";
    background-color: var(--main-color);
    border-radius: 100%;
    position: absolute;
    left: 0.5em;
    top: 1.25em;
}
.timeline-list .timeline-item:not(:last-child)::after  {
    width: 1px;
    height: 100%;
    content: " ";
    background-color: var(--main-color);
    position: absolute;
       left: 0.75em;
     top: 1.25em;
}

.language-list{
    display: flex;
    flex-wrap: wrap;
}
.item-meta{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  color: var(--caption-color);
}


