.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: var(--max-width-blog);
  margin: 0 auto;
}
.section__svg {
    font-size: 1.15em;
    color: var(--primary-color-light);
    padding: 0.5rem;
    box-sizing: content-box;
    background-color: var(--contrast-color-primary);
    border-radius: var(--border-radius);
}
.heading__container{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.section__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: start;
  color: var(--heading-color);
  margin-bottom: 0.5rem;
}

.timeline__item {
  position: relative;
  padding: 0 1.75rem;
}
.timeline__item::before {
  width: 0.5em;
  height: 0.5em;
  content: ' ';
  background-color: var(--secondary-color-light);
  border-radius: 100%;
  position: absolute;
  left: 0.5em;
  top: 0.85em;
}
.timeline .timeline__item:not(:last-child)::after {
  width: 1px;
  height: calc(100% + 0.5em);
  content: ' ';
  background-color: var(--secondary-color-light);
  position: absolute;
  left: 0.7em;
  top: 1.25em;
}
.timeline__item-title {
  margin-top: 0;
}
.language-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.item__meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}
.language__level,
.item__meta {
  color: var(--caption-color);
}
