.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tags__container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin: 1.5rem 0 0.5rem;
}
.tags__controls {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.results__count {
  font-size: 0.85rem;
  color: var(--caption-color);
}
.results__placeholder {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--contrast-color);
  border-radius: var(--border-radius);
  color: var(--border-color);
}
.results__placeholder svg {
  width: 50%;
  height: auto;
  max-width: 250px;
}
