:root {
  --max-width: 1100px;
  --border-radius: 6px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --border-color: rgb(226 232 240);
  --contrast-color: rgba(226, 232, 240, 0.30);
  --foreground: rgb(255, 255, 255); 
  --heading-color: rgb(15, 23, 42);
  --text-color:rgb(51, 65, 85) ;
  --caption-color:rgb(100, 116, 139) ;
  --link-color: #00555F;
    --transition-property-common: background-color, border-color, color, fill,
    stroke, --opacity, box-shadow, transform;
  --transition-property-colors: background-color, border-color, color, fill,
    stroke;
  --transition-property-dimensions: width, height;
  --transition-property-position: left, right, top, bottom;
  --transition-property-background: background-color, background-image,
    background-position;
  --transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration-ultra-fast: 50ms;
  --transition-duration-faster: 100ms;
  --transition-duration-fast: 150ms;
  --transition-duration-normal: 200ms;
  --transition-duration-slow: 300ms;
  --transition-duration-slower: 400ms;
  --transition-duration-ultra-slow: 500ms;
}

[data-theme="dark"] {
  --foreground: rgb(15 23 42);
  --border-color:  rgba(203,213,225,.1);
  --contrast-color:  rgba(203,213,225,.02);
  --heading-color: rgb(226, 232, 240);
  --text-color: rgb(148, 163, 184);
  --caption-color:rgb(100, 116, 139) ;
  --link-color: #00D8F5;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
main {
  padding: 68px 0 ;
  margin: 0 auto;
}
html,
body ,footer,.header-inner{
  max-width: var(--max-width);
  transition: all linear  var(--transition-duration-normal);
  }
html,
body {
  overflow-x: hidden;
  font-size: 16px;
 color:var(--text-color);
 background-color: var(--foreground);
 margin: 0  auto;
   transition-property: background-color;
  transition-duration: var(--transition-duration-normal);

}

section{
  padding: 1.5em 1em;
}
a, a:focus-visible {
  color: inherit;
  text-decoration: none;
  outline: none;
}
[id] {
   scroll-margin-top: calc(68px + 1rem);
}
p{
  line-height:  1.5rem;
}
h1,h2,h3,h4{
  color:var(--heading-color);

  margin:  0.5rem 0;
}
h1{
   font-weight: 900;
   font-size: 1.55em;
   letter-spacing: -1px;
}
h2{
     font-size: 1.35em;
  margin:  0.7rem 0;
}
h3{
    font-weight: 400;
     font-size: 1.15rem;
}
h4{
      font-weight: 400;
     font-size: 1rem;
}
ul{
  line-height: 1.5rem;
  list-style: none;
}
li::first-letter {
  text-transform: uppercase;
}

.button-link{
  padding:  0.5em 1em;
  background-color:var(--link-color);
  color:var(--foreground);
  border-radius: var(--border-radius);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap:0.3rem;
  width: max-content;
  text-transform: capitalize;
}
.button-secondary{
    background-color: transparent;
    color: var(--link-color);
    border: 1px solid;
}
.button-link svg{
  width: 1.2rem;
  height: auto;
}
.button-link:hover, .button-link:focus-visible{
opacity: 0.9;
}
.button-link:focus-visible, button:focus-visible{
  outline: 2px solid var(--link-color);
  border-radius: var(--border-radius);
  height: max-content;
}
.button-link:focus-visible{
  color: var(--foreground)
}
.button-secondary:focus-visible{
  color: var(--link-color)
}

.link:hover, .link:focus-visible, .link:focus, .link:focus-within {
    outline: none;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--link-color);
    opacity:0.9;
}
.link-box:focus-visible {
  outline: 2px solid var(--link-color);
  border-radius: var(--border-radius);
  background-color: var(--contrast-color);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width:768px){
  body{
    font-size: 16px;
  }
  h1{
   font-size: 2em;
}
h2{
     font-size: 1.5em;
}
h3{
     font-size: 1.15rem;
}
section{
  padding: 2em 3em;
}
}
@media (min-width:1024px){

  h1{

 font-size: 2.7em;
}
}
