:root {
  --max-width: 1100px;
  --max-width-blog: 900px;
  --border-radius: 6px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-sm: 0.85rem;
  --border-color: #EAE1D3;
  --contrast-color: #EEE8DD;
  --contrast-color-dark: #EBE5D9;
  --foreground: #F2EDE3; 
  --heading-color: #0f172a;
  --text-color:#334155 ;
  --caption-color:#696969;
  --primary-color: #345A5E;
  --primary-color-light: #59787B;
  --primary-color-dark: #254043;
  --text-color-primary: #254043;
  --contrast-color-primary: #345a5e1a;
  --secondary-color: #7D5F13;
   --secondary-color-light: #947C3D;
  --secondary-color-dark: #6A5110;
  --text-color-secondary: #59430D;
  --contrast-color-secondary: #7d5f131a;
  --alert-color: #BC3E31;
    --transition-property-common: background-color, border-color, color, fill,
    stroke, --opacity, box-shadow, transform;
  --transition-property-colors: background-color, border-color, color, fill,
    stroke;
  --transition-property-dimensions: width, height;
  --transition-property-position: left, right, top, bottom;
  --transition-property-background: background-color, background-image,
    background-position;
  --transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration-ultra-fast: 50ms;
  --transition-duration-faster: 100ms;
  --transition-duration-fast: 150ms;
  --transition-duration-normal: 200ms;
  --transition-duration-slow: 300ms;
  --transition-duration-slower: 400ms;
  --transition-duration-ultra-slow: 500ms;
  --box-shadow-sm: 0 1px 3px var(--border-color), 0 1px 2px var(--border-color);
  --box-shadow-md: 0 3px 6px var(--border-color), 0 3px 6px var(--border-color);
}

[data-theme="dark"] {
  --border-color: #1E1B1B;
  --contrast-color: #141111;
  --contrast-color-dark: #181616;
  --foreground: #0F0D0D; 
  --heading-color: #F3F4F6;
  --text-color:#D1D5DB ;
  --caption-color:#9CA3AF;
  --primary-color: #3D8E91;
  --primary-color-light: #60A2A5;
  --primary-color-dark: #34797B;
  --text-color-primary: #85B8BA;
  --contrast-color-primary: #3d8e911a;
  --secondary-color: #F7A21B;
   --secondary-color-light: #F8B344;
  --secondary-color-dark: #D28A17;
  --text-color-secondary: #F8B344;
  --contrast-color-secondary: #f7a31d1a;
  --alert-color: #F64747;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: all linear  var(--transition-duration-normal);
  font-size: 14px;
}

html{
  position: relative;
   background-color: var(--foreground);
   transition-property: background-color;
     overflow-x: hidden;
}
html,
body ,footer,.header-inner{
  max-width: var(--max-width);

  }
html,
body {
  font-size: 16px;
 color:var(--text-color);
 margin: 0  auto;
  transition-duration: var(--transition-duration-normal);
}
body{
  background-color: transparent;
}
main {
  padding: 50px 0 ;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
section{
  padding: 1.5em;
}
a, a:focus-visible {
  color: inherit;
  text-decoration: none;
  outline: none;
}
[id] {
   scroll-margin-top: calc(68px + 1rem);
}
p{
  line-height:  1.5em;
}
h1,h2,h3,h4{
  color:var(--heading-color);
  margin:  0.5rem 0;
  width: fit-content;
  line-height:  1.3em;
}
h1,  .h1-font{
   font-weight: 800;
   font-size: 1.65rem;
   letter-spacing: -1px;
   line-height: 1.1em;
}
h2, .h2-font{
  font-size: 1.3rem;
  margin:  0.7rem 0;
  font-weight: 700;
}
h3, .h3-font {
    font-weight: 600;
     font-size: 1.15rem;
}
h4, .h4-font{
      font-weight: 500;
     font-size: 1rem;
}
ul{
  list-style: none;
   display: flex;
  flex-direction: column;
  gap: 0.5em;
}
image{
  color: var(--text-color);
  font-style: italic;
}
.list{
  line-height: 1.5rem;
  list-style-type: "-";
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-left: .5rem;
}
.list__item{
  padding-left: 1.5ch;
}
.list__item::marker{
  color: var(--secondary-color);
  font-weight: 700;
}
li::first-letter {
  text-transform: uppercase;
}

.bg{
  position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  background: var(--foreground);
  background-image: var(--bg-gradient);
}

button:focus-visible{
  outline: 1px solid var(--primary-color);
  outline-offset: 1px;
  border-radius: var(--border-radius);
}


.link:hover, .link:focus-visible, .link:focus, .link:focus-within {
    outline: none;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--text-color-primary);
}
.link-box:focus-visible {
  outline: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  background-color: var(--contrast-color);
}

.poster-font{
  padding: 0.2em 0.75em;
  border-radius:0.1em;
  background-color: var(--secondary-color);
  color: var(--foreground);
  position: relative;
  border: 1px solid currentColor;
}
.poster-font--down{
    transform: rotate(2deg);
}
.poster-font--up{
    transform: rotate(358deg);
}
.poster-font::before {
    content: " ";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: currentColor;
    margin-top: 0.2em;
    margin-left: 0.2em;
}
.poster-font::after {
    content: " ";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: currentColor;
    margin-top: 0.2em;
    margin-right: 0.2em;
}
.tooltip{
  position: relative;
  z-index: 10;
}
.tooltip:hover::before, .tooltip:focus-visible::before{
    position: absolute;
    width: fit-content;
    color: var(--text-color);
    content: attr(data-tooltip);
    font-size: 0.8rem;
    white-space: nowrap;
    margin: 0.5em;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--foreground);
    z-index: 100;
    padding: 0.5rem;
}
.tooltip--left::before{
  right: 100%;
  transform: translateY(-50%);
  top: 50%;
  margin: 0 0.5em !important;
}
.tooltip--right::before{
  left: 100%;
  transform: translateY(-50%);
  top: 50%;
  margin: 0 0.5em !important;
}
.tooltip--top::before{
    transform: translateX(-50%);
}
.tooltip--bottom::before{
  transform: translateX(-50%);
}
.tooltip--bottom-left::before, .tooltip--top-left::before{
  right: 100%;
  margin-right: 0 !important;
}
.tooltip--bottom-right::before, .tooltip--top-right::before {
  left: 100%;
  margin-left: 0 !important;
}
.tooltip--bottom-to-left::before, .tooltip--top-to-left::before{
    left: 0;
    transform: translateX(-50%);
    margin-right: 0 !important;
}
.tooltip--bottom-to-right::before, .tooltip--top-to-right::before{
    right: 0;
    transform: translateX(50%);
    margin-left: 0 !important;
}
.tooltip--bottom-to-left::before, .tooltip--bottom-to-right::before, .tooltip--bottom-right::before, .tooltip--bottom-left::before, .tooltip--bottom::before{
    top: 100%;
}
.tooltip--top-to-left::before, .tooltip--top-to-right::before, .tooltip--top-right::before, .tooltip--top-left::before, .tooltip--top::before {
    bottom: 100%;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (min-width:425px){

section{
     padding: 2.5em 2em;
}

}
@media (min-width:768px){
  *{
      font-size: 16px;
  }
   *::-webkit-scrollbar{ 
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
 }
 *::-webkit-scrollbar-thumb{
  background-color: var(--contrast-color-dark);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
 }
h1, .h1-font{
   font-size: 2em;
}
h2, .h2-font{
     font-size: 1.5em;
}
h3, .h3-font{
     font-size: 1.15rem;
     font-weight: 500;
}
section{
  padding: 2em 3em;
}

}
@media (min-width:1024px){

 h1, .h1-fon{
 font-size: 2.7em;
}
}
