.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-title{
  font-size: 5em;
  color: var(--primary-color);
}
.page-subtitle{
  font-size: 2em;
}
.return-link{
  margin: 1em;
}