.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  min-height: calc(100vh - 68px);
  padding-top: 3rem;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.introduction__title {
  font-weight: 800;
  font-size: 1.75rem;
  margin: 0;
}
.introduction__subtitle {
  font-size: 0.5em;
  color: var(--text-color-primary);
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.5em;
  border-radius: 5em;
  border: 1px solid;
  padding: 0 1em;
  border-right: 2px solid;
  border-bottom: 2px solid;
  position: relative;
  line-height: 2.25em;
}
.introduction__subtitle::before {
  position: absolute;
  content: ' ';
  left: -0.5em;
  bottom: 0;
  width: 1em;
  height: 1em;
  border: inherit;
  border-radius: 100%;
  background: var(--foreground);
  background-image: var(--bg-gradient);
}
.introduction__subtitle::after {
  position: absolute;
  content: ' ';
  left: -0.75em;
  bottom: 0;
  width: 0.5em;
  height: 0.5em;
  border: inherit;
  border-radius: 100%;
  background: var(--foreground);
  background-image: var(--bg-gradient);
}
.introduction__text {
  font-weight: 500;
}
.contact-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1.5rem 0;
  flex-wrap: wrap;
}
.contact-links a{
  width: 100%;
  justify-content: center;
}
.logo__container--outer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo__container{
    color: var(--contrast-color-primary);
    position: relative;
    padding: 0.5rem;
}
.logo__container svg {
  width: 4rem;
  height: auto;
}
.logo__container::before, .logo__container::after{
     content: " ";
    position: absolute;
    top: 50%;
    width: calc(50vw - 70%);
    border-bottom: 1px dashed;
    max-width: calc(var(--max-width)  / 2 );
}
.logo__container::before{
    right: 100%;
}
.logo__container::after{
  left: 100%;
}
.page__section-title {
  margin: 0 auto 2rem;
}
.projects__container {
  margin-top: 1rem;
}
.techs__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  padding-top: 2rem;
}
.tech-category__name {
  text-transform: capitalize;
  margin-bottom: 1em;
}

@media (min-width: 425px) {
  .techs__container {
    grid-template-columns: 1fr 1fr;
  }
  .introduction__title {
    font-size: 2.3rem;
  }
  .introduction__subtitle {
    font-size: 0.4em;
  }
  .contact-links a{
  width: unset;
 }

}
@media (min-width: 768px) {
  .hero-section {
    min-height: unset;
  }
   .logo__container svg {
  width: 5rem;
}
  .techs__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .introduction__title {
    font-size: 3.2rem;
  }
}
@media (min-width: 1024px) {
  .introduction__title {
    font-size: 5.5rem;
  }
  .introduction__subtitle {
    font-size: 0.3em;
  }
  .introduction__text {
    max-width: 80%;
    font-size: 1.2rem;
  }
 .contact-links a{
  font-size: 1.15rem;
 }
  .techs__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
