.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 64px - 1.5em);
  justify-content: center;
  gap:1.5em;

}
.introduction{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 gap:1em;


}
.introduction p {
 font-weight: 600;
 line-height: 1.5rem;
color:var(--caption-color);
}
.contact-links{
  display: flex;
  gap: 1rem;
  justify-content: center;
margin: 1em 0;

}
.contact-link{
    padding:  0.5em 1em;
  background-color:var(--link-color);
  color:var(--foreground);
  border-radius: var(--border-radius);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap:0.3rem;
}
.contact-link svg{
  width: 1.2rem;
  height: auto;
}
.contact-link:hover, .contact-link:focus-visible{
opacity: 0.9;
}
.illustration{
flex: 1;
}
.illustration svg{
  width: 100%;
  height: auto;
  border-radius: 100%;
  max-width: 300px;
}
.about-section{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1.5em;
}
.about-info{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 600px;
}
.agile svg{
  width: 100%;
  height: auto;
  max-width: 300px;
}
.projects{
display:grid;
gap:1em;
margin-top: 2em;
grid-template-columns:  1fr;
}
.techs{
display:grid;
gap:1em;
margin-top: 2em;
grid-template-columns:  1fr;
}
.tech-category-name{
  text-transform: capitalize;
  margin-bottom: 1em;
  color:var(--link-color)
}


@media (min-width:768px){
  .projects{
grid-template-columns:  1fr 1fr;
}
  .techs{
grid-template-columns:  1fr 1fr 1fr;
}
}
@media (min-width:1024px){
  .main-section{
    flex-direction: row;
    gap:3em;

  }
  .introduction{
    max-width: 55%;
    text-align: start;
       align-items: start;
  }
  
  .about-section{
    flex-direction: row-reverse;
    gap:3em;
  }
  .title{
 text-align: start; 

}
  .techs{
grid-template-columns:  1fr 1fr 1fr 1fr;
}
}
