.icon-btn{
  padding: 0.35em 0.35em ;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--contrast-color);
  font-size: 1.2em;
  background-color: var(--foreground);
  color: var(--heading-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
}

.icon-btn:hover,.icon-btn:focus-visible{
  background: var(--contrast-color);
}

.icon-btn svg{
width: 1em;
height: auto;
}